body{
    background-image: url(images/4.jpg);
    background-size: 100%;
}

#padding{
    padding-top: 10px;
}
.white{
    color: rgba(255,255,255,1);
}
#topbar1{
    background-color: rgba(244,244,244,1);
    padding-top: 9px;
    height: 40px;
    border-bottom-style: solid;
    border-bottom-color: #e0e0e0;
    border-bottom-width: 1px;
}
#topbar{
    background-color: rgba(255,255,255,0.5);
    padding-top: 9px;
    height: 40px;
}
#main1{
    padding-top: 30px;
}
#function{
    background-color: rgba(255,255,255,0.8);
}
#searchbar{
    padding-top: 60px;
    padding-bottom: 40px;
}
#function{
    padding-top: 10px;
    padding-bottom: 20px;
}
.bookmarklist{
    font-size: 18px;
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden; 
    width:100%;
}